<div class="grid" id="gameboard">
    <div class="row">
        <input type="text" class="cell" id="row-1-col-1" readonly style="float: left;"> 
        <input type="text" class="cell" id="row-1-col-2" readonly style="float: left;">
        <input type="text" class="cell" id="row-1-col-3" readonly> 
    </div>
    <div class="row">
        <input type="text" class="cell" id="row-2-col-1" readonly style="float: left;">
        <input type="text" class="cell" id="row-2-col-2" readonly style="float: left;">
        <input type="text" class="cell" id="row-2-col-3" readonly> 
    </div>
    <div class="row">
        <input type="text" class="cell" id="row-3-col-1" readonly style="float: left;"> 
        <input type="text" class="cell" id="row-3-col-2" readonly style="float: left;">
        <input type="text" class="cell" id="row-3-col-3" readonly>
    </div>
</div>

<div class="status-container">
    <p id="status-field"></p>
</div>

<link rel="stylesheet" href="{{ url_for('static', filename='styles/ticTacToe/style_ticTacToe.css') }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

<script>

const socket = io();

const statusField = document.getElementById('status-field');
const gameBoard = document.getElementById('gameboard');

const STATUS_WAIT = "Waiting for opponent to join";
const STATUS_DISCONNECT = "User disconnected: waiting...";
const STATUS_PLAYER = "Your turn to move";
const STATUS_OPPONENT = "Waiting for opponent to move";
const STATUS_DRAW = "Game ended in a draw: Click on the grid to rematch";
const STATUS_PLAYER_WIN = "You won the game: Click on the grid to rematch";
const STATUS_OPPONENT_WIN = "Opponent won the game: Click on the grid to rematch";

const SYMBOL_X = 'X'
const SYMBOL_O = 'O'

const ROWS = 3;
const COLUMNS = 3;

const STATE_DRAW = -1;
const STATE_CONTINUE = 0
const PLAYER_1 = 1;
const PLAYER_2 = 2;
const PLAYER = parseInt("{{ session['player'] }}");

const CELL_MARKED = 1;

let opponentConnected = false;
let turn = undefined;
let state = undefined;

let SYMBOL_1 = SYMBOL_X
let SYMBOL_2 = SYMBOL_O


socket.on("content-to-client", function(data) {
    const content = JSON.parse(data);
    turn = content.turn;
    state = content.state;
    setBoard(content.board);
    setStatus()
});

socket.on("start-game-client", function() {
    console.log("START GAME");
    opponentConnected = true;
    setStatus();
});

socket.on("pause-game-client", function() {
    opponentConnected = false;
    statusField.innerHTML = STATUS_DISCONNECT;
});

socket.on("rematch-reset-client", function() {
    swapSymbols();
    socket.emit("rematch-reset-server");
});

function addSquareListeners() {
    for (let row = 0; row < ROWS; row++) {
        for (let col = 0; col < COLUMNS; col++) {
            let cell = document.querySelector('#row-' + (row + 1) + '-col-' + (col + 1));
            cell.addEventListener('click', function(e) {
                if ((opponentConnected) && (cell.value == '') && (turn == PLAYER)) {
                    data = {'row': row, 'col': col};
                    socket.emit("content-to-server", data);
                }
            });
        }
    }
}

function setBoard(content_board) {
    for (const [key, content_cell] of Object.entries(content_board)) {
        console.log(content_cell)
        let cell = document.querySelector('#row-' + (content_cell.row + 1) + '-col-' + (content_cell.col + 1));
        if (content_cell.color == PLAYER_1) {
            cell.value = SYMBOL_1;
        }
        if (content_cell.color == PLAYER_2) {
            cell.value = SYMBOL_2
        }
        if (content_cell.marked == CELL_MARKED) {
            cell.style.color = 'red';
        }
    }
}

function setStatus() {
    if (!opponentConnected) {
        statusField.innerHTML = STATUS_WAIT;
    }
    else {
        switch (state) {
        case STATE_DRAW:
            statusField.innerHTML = STATUS_DRAW;
            break;
        case STATE_CONTINUE:
            statusField.innerHTML = (turn == PLAYER) ? STATUS_PLAYER : STATUS_OPPONENT;
            break;
        case PLAYER_1:
            statusField.innerHTML = (turn != PLAYER) ? STATUS_PLAYER_WIN : STATUS_OPPONENT_WIN;
            break;
        case PLAYER_2:
            statusField.innerHTML = (turn != PLAYER) ? STATUS_PLAYER_WIN : STATUS_OPPONENT_WIN;
            break;
        }
    }
}

function resetBoard() {
    for (let row = 0; row < 3; row++) {
        for (let col = 0; col < 3; col++) {
            let cell = document.querySelector('#row-' + (row + 1) + '-col-' + (col + 1));
            cell.value = '';
            cell.style.color = 'black';
        }
    }
}

function swapSymbols() {
    SYMBOL_1 = (SYMBOL_1 == SYMBOL_X) ? SYMBOL_O : SYMBOL_X;
    SYMBOL_2 = (SYMBOL_2 == SYMBOL_O) ? SYMBOL_X : SYMBOL_O;
}

function addRematchListener() {
    gameBoard.addEventListener('click', function(e) {
        if (state != STATE_CONTINUE) {
            resetBoard()
            statusField.innerHTML = STATUS_WAIT;
            socket.emit("rematch-to-server");
        }
    });
}

addSquareListeners()
addRematchListener()
setStatus()

</script>